<div
  class="fixed inset-0 z-50 flex items-center justify-center"
  *ngIf="isMounted"
>
  <div
    class="fixed inset-0 bg-gray-500/75 transition-opacity duration-300 ease-in-out"
    [ngClass]="isAnimating ? 'opacity-100' : 'opacity-0'"
    (click)="OnCloseForm()"
  ></div>

  <div
    class="relative bg-white rounded-lg overflow-hidden shadow-xl transform transition-all duration-300 ease-in-out sm:my-8 sm:max-w-4xl mx-4"
    [ngClass]="isAnimating ? 'animate-fadeOut' : 'animate-fadeIn'"
  >
    <div
      class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4 border-b border-gray-200"
    >
      <div class="sm:flex sm:items-start">
        <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left w-full">
          <h3 class="text-lg leading-6 font-medium text-gray-900">
            Add Course
          </h3>
        </div>
      </div>
    </div>
    <form (submit)="OnSubmitted()">
      <div class="p-6 flex flex-col space-y-6 overflow-y-auto max-h-[80vh]">
        <app-custom-input
          label="Title Course"
          placeholder="Python Basic"
          type="text"
          class="block"
        ></app-custom-input>

        <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
          <app-custom-input
            label="Position"
            type="number"
            placeholder="1"
            id="position"
            [min]="1"
            class="block"
          ></app-custom-input>

          <app-custom-select
            label="Status"
            [options]="options"
            class="block"
          ></app-custom-select>
        </div>

        <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
          <app-custom-select
            label="Category"
            [options]="category"
            class="block"
          ></app-custom-select>
          <app-custom-select
            label="Course Type"
            [options]="courseType"
            class="block"
          ></app-custom-select>
        </div>

        <app-custom-textarea
          label="Description"
          id="description"
          class="block"
        ></app-custom-textarea>

        <app-custom-upload-image
          label="Avatar"
          previewMode="single"
        ></app-custom-upload-image>
      </div>

      <div class="bg-gray-50 px-6 py-4 flex justify-end space-x-2">
        <app-custom-button
          type="button"
          variant="secondary"
          (clicked)="OnCloseForm()"
          >Cancel</app-custom-button
        >

        <app-custom-button type="submit" variant="primary"
          >Save</app-custom-button
        >
      </div>
    </form>
  </div>
</div>
