/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

@theme {
    --color-primary-50: #f0f9ff;
    --color-primary-100: #e0f2fe;
    --color-primary-200: #bae6fd;
    --color-primary-300: #7dd3fc;
    --color-primary-400: #38bdf8;
    --color-primary-500: #0ea5e9;
    --color-primary-600: #0284c7;
    --color-primary-700: #0369a1;
    --color-primary-800: #075985;
    --color-primary-900: #0c4a6e;

    --color-gray-50: #f9fafb;
    --color-gray-100: #f3f4f6;
    --color-gray-200: #e5e7eb;
    --color-gray-300: #d1d5db;
    --color-gray-400: #9ca3af;
    --color-gray-500: #6b7280;
    --color-gray-600: #4b5563;
    --color-gray-700: #374151;
    --color-gray-800: #1f2937;
    --color-gray-900: #111827;


    --animate-fadeIn: fadeIn 0.3s ease-in-out 1;

    @keyframes fadeIn {
        0% {
            transform: scale(1);
            opacity: 100%;
        }

        100% {
            transform: scale(0);
            opacity: 0%;
        }
    }

    --animate-fadeOut: fadeOut 0.3s ease-in-out 1;

    @keyframes fadeOut {
        0% {
            transform: scale(0);
            opacity: 0%;
        }

        100% {
            transform: scale(1);
            opacity: 100%;
        }
    }

    --animate-slideDown: slideDown 0.3s ease-in-out 1;

    @keyframes slideDown {
        0% {
            transform: scaleY(0);
            height: 0;
        }

        100% {
            transform: scaleY(1);
            height: auto;
        }
    }

    --animate-slideUp: slideUp 0.3s ease-in-out 1;

    @keyframes slideUp {
        0% {
            transform: scaleY(1);
            height: auto;
        }

        100% {
            transform: scaleY(0);
            height: 0;
        }
    }
}

// html, body { height: 100%; }
// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }